<%= link_to "Add Cat", new_cat_path %>

<table>
  <th>Name</th>
  <th>Color</th>
  <% @cats.each do |cat| %>
  <tr>
    <td><%= link_to cat.name, cat_path(cat.id) %></td>
    <td><%= cat.color %></td>
  </tr>
    <% end %>
</table>